<p>Grapher</p>
<p></p>
<form>

  Start: <br>
  <input #newInput 
    (keyup.enter)="setClick(newInput.value)"
    (blur)="setClick(newInput.value); newInput.value='' ">
  <button type='button' (ng-click)="setClick(newInput.value)"
    [disabled]="buttonStatus">Set</button>
  <p></p>

  Deduct: <br>
  <input #deduct 
  (keyup.enter)="setDeduct(deduct.value)"
  (blur)="setDeduct(deduct.value); deduct.value='' ">
  <button type='button' (ng-click)="setDeduct(deduct.value)">Spend!</button>
  <p></p>
  
  <p>{{clickSetAmt}} {{message}}</p>
  <p [hidden]="spentStatus">You spent: {{deducted}} {{message2}}</p>
  <p [hidden]="spentStatus">Total Spent: {{amtSpent}}</p>
  <p [hidden]="spentStatus">Total Left: {{amtLeft}}</p>
</form>